body{
  margin:0;
  padding:0;
}
.app-wrapper{
  width:100%;
  height:100%;
}

.nav{
  position: relative;
  z-index:2;
}

.side{
  position: relative;
  z-index:1;

}

.map{
  position: absolute;
  top:0;
  right:0;
  z-index:0;
  width:100%;
  height:100%;
}
