<form stripe-form="handleStripe">
  <div class="stripeForm">
    <div ng-model="message"></div>
    <div>
      <label>Name on card </label>
      <input type="text" ng-model="info.name">
    </div>

    <div>
      <label>Card number</label>
      <input type="text" ng-model="info.number" payments-format="card" />
    </div>

    <div>
      <label>Expiration Month/Year</label>
    </div>
    <div>
      <input type="text" class="input-block-level" ng-model="info.exp_month" max="2" />
      <label>/</label>
      <input type="text" class="input-block-level" ng-model="info.exp_year" max="4" />
    </div>

    <div>
      <label>CVC</label>
      <input type="password" class="input-block-level" ng-model="info.cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" />
    </div>
    <div>
      <input type="text" ng-model="amount" placeholder="0.00" required/>
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
