html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width:100%;
  right: 0;
  top:0;
}

.tooltip-text{
  font-size:18px;
}

.mapLoading {
  position: absolute;
  padding: 28% 45%;
  z-index: 1000;
  background-color: rgba(255, 253, 250, 0.4);
}
