html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width:100%;
  right: 0;
  top:0;
  /*position:absolute;*/
  /*left:200px;*/
}

/*.ruleBox{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  padding: 20px;
  border: 1px solid;
}

.ruleBox input{
  display: block;
}*/
