.sideBar {
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*background-color: blue;*/
  position: absolute;
  top: 20px;
  left: 0;
  width: 200px;
  border-radius: 5px;
  background: #76b52d; /* Old browsers */
  background: -moz-linear-gradient(top,  #76b52d 0%, #c3dc90 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76b52d 0%,#c3dc90 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76b52d 0%,#c3dc90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b52d', endColorstr='#c3dc90',GradientType=0 ); /* IE6-9 */
  box-shadow: 1px 1px 10px 4px #999998;
  z-index: 2;
  font-family: 'Questrial', sans-serif;
}
.sideBar h1{
  font-size: 26px;
  text-align: center;
  color: whitesmoke;
}
.ruleBox{
  position: relative;
  top: 0;
  right: 0;
  background-color: #FFF;
  padding: 15px;
  border: 1px solid #5D5A5A;
}
.ruleBox h2{
  margin: 3px;
}
.ruleBox input{
  display: block;
  padding: 5px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 13px;

}

.sideBar ul {
  width: 100%;
  padding:0;
  margin:0;
}

.sideBar ul button {
  padding: 5px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
}
