.sideBar {
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*background-color: blue;*/
  position: absolute;
  top: 20px;
  left: 0;
  width: 200px;
  border-radius: 5px;
  background: #76b52d; /* Old browsers */
  box-shadow: 1px 1px 7px 0px #545454;
  z-index: 2;
  font-family: 'Questrial', sans-serif;
  color: whitesmoke;
}
.sideBar h1{
  font-size: 26px;
  text-align: center;
  color: whitesmoke;
  border-bottom: 2px solid;
}

.sideBar h2{
  font-size: 18px;
  /* text-align: center; */
  color: whitesmoke;
  margin: 1px;
  padding-left: 12px;
}

.ruleBox{
  position: relative;
  top: 0;
  right: 0;
  padding: 15px;
  border: 1px solid #5D5A5A;
  color: whitesmoke;
}
.ruleBox h2{
  margin: 3px;
}
.ruleBox input{
  display: block;
  padding: 6px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.sideBar .wrapper {
  width: 100%;
  padding:0;
  margin:0;
}

.menuBtn {
  width: 100%;
  font-size: 14px;
  text-align: left;
  background-color: #F8F8F8;
  border: none;
  border-bottom: 1px solid #CBC6BF;
  cursor:pointer;
  color:#7C7C7C;
}

.menuBtn:hover{
  background-color: #D9FFD2;
}

.sideBar .wrapper .enabled {
  background-color: #D9FFD2;
}

.sideBar p{
  text-align: center;
  margin: 0;
  font-size: 13px;
  color: #EAEAEA;
}

.addBox{
  width:80%;
  margin: 0 auto;
  padding: 3px 0;
}

.layer-text{
  position: relative;
  top: -7px;
}

.mobilePreviewFields {
  padding:5px;
}

.previewDate input {
  padding: 4px;
  font-size: 16px;
  width: 94%;
  display: block;
  border-radius: 3px;
  border: 1px solid #99C75A;
  font-family: inherit;
}

.previewTimeDuration input {
  width:45%;
  border-radius: 3px;
  border: 1px solid #99C75A;
}

.submitButton{
  background-color: #FFCA00;
  color: #fff;
  border-bottom: 2px solid #7B715F;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 7px;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid #A2CB65;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover{
  background-color: #FFDB5A;
}
.inlinePreview{
  display: inline-block;
  width: 48%;
}

.previewTimeDuration{
  display: inline-block;
}

.previewTimeDuration input {
  width: 90%;
  padding: 5px;
  font-size: 16px;
}

.legend {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.84);
  border: 1px solid #B5B5B5;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 0px #545454;
}

.legend img {
  display: inline;
}
.square{
  height:20px;
  width:20px;
  display:inline-block;
  margin-right: 10px;
}

.legend ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.green{
  border: 3px solid #6CF167;
  background-color: #B9EAAE;
}

.yellow{
  border: 3px solid #FFFD3D;
  background-color: #FFFABE;
}

.orange{
  border: 3px solid #FDAA13;
  background-color: #F6E0B3;
}

.black{
  border: 3px solid #CBC6BF;
  background-color: #E3DFD6;
}


