<div class="sideBar">


  <h1>Display Options</h1>

  <div class="ruleBox" ng-show="ShowAddRuleOnClick">
    <h2>Add Rule</h2>
    <span>code</span><input type="text" ng-model="rule.permitCode" placeholder="A">
    <span>days</span><input type="text" ng-model="rule.days" placeholder="M,T,W,TH,F,S">
    <span>timeLimit</span><input type="text" ng-model="rule.timeLimit" placeholder="2">
    <span>startTime</span><input type="text" ng-model="rule.startTime" placeholder="07:00">
    <span>endTime</span><input type="text" ng-model="rule.endTime" placeholder="19:00">
    <span>costPerHour</span><input type="text" ng-model="rule.costPerHour" placeholder="2.00">
    <span>color</span><input type="text" ng-model="rule.color" placeholder="128,0,255">
    <button ng-click="addRule()">Add Rule to Selected Feature</button>
  </div>


  <ul>
    <button ng-click="toggleAddRuleMenu()">Show/Hide Add Rule Menu</button>
    <button class="{{style.grid}}" ng-click="showOnly('grid')">Hide All</button>
    <button class="{{style.permit}}" ng-click="showOnly('permit')">Show Only Permit Zones</button>
    <button class="{{style.meter}}" ng-click="showOnly('meter')">Show Only Meter Zones</button>
    <button class="{{style.sweep}}" ng-click="showOnly('sweep')">Show Only Street Sweeping</button>
    <button class="{{style.mobile}}" ng-click="showOnly('mobile')">Mobile Preview</button>

    <div class="mobilePreviewFields" ng-show="showMobilePreview">
      <form>
        <div class="previewDate">
          <span>Date:</span><input type="date" ng-model="preview.date" placeholder="some date" required>
        </div>
        <div class="previewTime">
          <span>Time:</span><input type="text" ng-model="preview.time" placeholder="some time" required>
        </div>
        <div class="previewDuration">
          <span>Duration (in hours):</span><input type="text" ng-model="preview.duration" placeholder="2">
        </div>


        <input class="submitAction" type="submit" ng-click="savePreviewInput()" value="Submit"/>
    </form>
   </div>





  </ul>
</div>
