.stripeForm {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 7px;
  border: 2px solid #76B52D;
}

.donationFormContainer {
    position: absolute;
    top: 335px;
    width:100%;
    font-size:77px;
    text-align:center;
}

.stripeForm .pay-small{
  width: 60px;
  display: inline;
}

.stripeForm input{
  padding: 5px;
    width: 433px;
    height: 55px;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 0px auto;
    margin-bottom: 35px;
    display: block;
    font-size:30px;
    text-align: center;

}

.stripeForm h1{
  font-size: 118px;
  text-align: center;
  color:#76b52d;
  margin: 0 0 18px 0;
  font-weight: bold;
}

.stripeForm .submit{
  padding: 11px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #69843C;
  background-color: #76b52d;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 0px;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76b52d+0,8ab66b+44,398235+100 */
  background: #76b52d; /* Old browsers */
  background: -moz-linear-gradient(top,  #76b52d 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76b52d 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76b52d 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b52d', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

.stripeForm .submit:active{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398235+0,8ab66b+56,76b52d+100 */
  background: #398235; /* Old browsers */
  background: -moz-linear-gradient(top,  #398235 0%, #8ab66b 56%, #76b52d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #398235 0%,#8ab66b 56%,#76b52d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #398235 0%,#8ab66b 56%,#76b52d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#76b52d',GradientType=0 ); /* IE6-9 */
}

.close{
  cursor: pointer;
  color: #7FB648;
  text-align: right;
}

.server-msg {
  background-color: rgba(255, 0, 0, 0.54);
}

.loading {
  position: absolute;
  padding: 44% 22%;
  background-color: rgba(255, 253, 246, 0.6);
}
