.donation {
  font-family: 'Questrial', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 2;
}

.donation label {
  padding-right: 10px;
}

.stripeForm {
  position: absolute;
  top: 20%;
  left: 38%;
  background-color: #fff;
  padding:30px;
  border-radius: 7px;
  border: 2px solid #76B52D;
}

.stripeForm .pay-small{
  width: 30px;
  display: inline;
}

.stripeForm input{
  padding: 5px;
  width: 200px;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin: 8px 0px;
  display: block;
  font-size: 16px;
  text-align: center;
}

.stripeForm h1{
  font-size: 25px;
  text-align: center;
  color:#76b52d;
  margin: 0 0 18px 0;
  font-weight: bold;
}

.stripeForm .submit{
  padding: 11px;
  width: 101%;
  border-radius: 2px;
  border: 1px solid #69843C;
  background-color: #76b52d;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0px;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76b52d+0,8ab66b+44,398235+100 */
  background: #76b52d; /* Old browsers */
  background: -moz-linear-gradient(top,  #76b52d 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76b52d 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76b52d 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b52d', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

.stripeForm .submit:active{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398235+0,8ab66b+56,76b52d+100 */
  background: #398235; /* Old browsers */
  background: -moz-linear-gradient(top,  #398235 0%, #8ab66b 56%, #76b52d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #398235 0%,#8ab66b 56%,#76b52d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #398235 0%,#8ab66b 56%,#76b52d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#76b52d',GradientType=0 ); /* IE6-9 */
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color:#f00;
}

.server-msg {
  background-color: rgba(255, 0, 0, 0.54);
}

.loading {
  position: absolute;
  padding: 44% 22%;
  background-color: rgba(255, 253, 246, 0.6);
}
