.login-page{
  width:100%;
  height:1000px;
  background-image: url("../assets/images/parking2.jpg");
  background-size:cover;
  background-position: center;
  font-family: 'Questrial', sans-serif;
}
.login-wrapper {
  margin: 0 auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 10px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  top:100px;
  color: #fff;
}

.login-wrapper h1{
  margin:0;
}

.login-wrapper p{
  margin: 0 0 20px 0;
}

.login-form input, .login-form button{
  width: 200px;
  display: block;
  padding: 10px 15px;
  margin: 4px auto;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.login-form button{
  background-color: #FF9800;
  border: 1px solid #F2BB1E;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:active{
  background-color: #D07E06;
}

.login-wrapper img{
  width: 140px;
  display: inline-block;
  cursor: pointer;
}

.passport-login{
  margin: 0 auto;
}

.login-page .info{
  position: absolute;
  background-color: rgba(255, 253, 233, 0.95);
  top: 550px;
  min-height: 300px;
  width: 100%;
  padding-left: 20px;
  color:#333;
  min-width:860px;
}

.login-page .info h1{
  border-bottom: 1px solid #bbb;
  width:520px;
  color: #76b52d;
}
.login-page img.preview-map {
  height: 250px;
  position: absolute;
  right: 40px;
  top: 0;
  border: 1px solid #989898;
  box-shadow: 1px 1px 3px 1px #B5B5B5;
}

.login-page .description{
  max-width: 520px;
  padding: 0px 30px;
  text-align: justify;
}

.login-page .top-bar{
  position: fixed;
  height: 50px;
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76b52d+0,c3dc90+100 */
  background: #76b52d; /* Old browsers */
  background: -moz-linear-gradient(top,  #76b52d 0%, #c3dc90 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76b52d 0%,#c3dc90 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76b52d 0%,#c3dc90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b52d', endColorstr='#c3dc90',GradientType=0 ); /* IE6-9 */
  box-shadow: 1px 1px 10px 4px #000;
  z-index: 2;
}

.login-page .top-nav{
  list-style: none;
  position: absolute;
  right: 30px;
  color: #fff;
  top: 5px;
}

.login-page .top-nav li{
  display: inline-block;
  margin: 0px 5px;
  padding: 0 10px;
  cursor: pointer;
}

.login-page .top-nav li:hover{
  border-bottom: 2px solid #fff;
}

.login-page .top-nav li a{
  text-decoration: inherit;
  color:inherit;
}

.login-page .info-wrapper{
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

.login-page .logo {
  font-size: 36px;
  padding: 5px 0 0 20px;
  color: #FFF;
  font-weight: bold;
}

.server-msg {
  background-color: rgba(255, 0, 0, 0.54);
}

.server-msg p {
  padding: 10px;
}

.sign-in-toggle{
  color: #BABAFF;
  text-decoration: underline;
  margin: 30px 0 10px 0;
  display: block;
  cursor: pointer;
  color: #94C453;
}
