    <form>
      <input type="text" class="form-control" ng-model="userinfo.username" placeholder="username" required ng-minlength="5" ng-maxlength="14">
      <input type="password" class="password box" ng-model="userinfo.password" placeholder="password" required>
      <button ng-click="signin(userinfo)">Sign In!</button>
    </form>
    <button ng-click="goSignUp()">Sign Up!</button>
<!-- <a href="//localhost:3000/auth/google/callback"><img src="./assets/images/googleButton.png" /></a>
<a href="//localhost:3000/auth/facebook/callback"><img src="./assets/images/facebookButton.png" /></a> -->
<a href="//spotz.herokuapp.com/auth/google/callback"><img src="./assets/images/googleButton.png" /></a>
<a href="//spotz.herokuapp.com/auth/facebook/callback"><img src="./assets/images/facebookButton.png" /></a>
