.drawing{
  min-width: 100px;
  min-height: 100px;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;
  padding: 15px;
  border: 3px solid#93C452;
  margin-right: 8px;
  border-radius: 5px;
}

.drawing button{
  display: block;
}

.enabled{
  background-color: #0f0;
}
